<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Create Prescription Fill</h1>
<form action="#" th:action="@{/createPrescriptionFill}" th:object="${newPrescriptionFill}" method="post">
    <p>Patient ID: <input type="text" required="required" th:field="*{patientid}" /></p>
    <p>Prescription ID: <input type="text" required="required" th:field="*{prescriptionid}" /></p>
    <p>Status:<input type="text" required="required" th:field="*{status}" /></p>
    <p>Verified(T/F):
<!--        <input type="text" required="required" th:field="*{verified}" />-->
        <select th:field="*{verified}">
            <option value="1">true</option>
            <option value="0">false</option>
        </select>
    </p>
    <p>Ready For Pickup(T/F):
<!--        <input type="text" required="required" th:field="*{readyforpickup}" />-->
        <select th:field="*{readyforpickup}">
            <option value="1">true</option>
            <option value="0">false</option>
        </select>
    </p>

    <p>Summary: <input type="text" th:field="*{summary}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>


</body>
</html>