<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link href="../static/css/style.css" rel="stylesheet"
        th:href="@{/css/style.css}"/>
</head>
<body>
<div class = "col" th:fragment="adminNav">
  <nav class="nav flex-column">
    <a class="nav-link account-btn" href="createPrescriber.html"
       id="create-prescriber-btn" type="button"
       th:href="@{/createPrescriber}"> Register Prescriber</a>

    <a class="nav-link account-btn" href="createPharmacist.html"
       id="create-pharmacist-btn" type="button"
       th:href="@{/createPharmacist}"> Register Pharmacist</a>

    <a class="nav-link account-btn" href="unregister.html"
       id="unregister-btn" type="button"
       th:href="@{/unregister}"> Unregister Agent</a>

      <a class="nav-link account-btn" href="login.html"
         id="logout-btn" type="button"
         th:href="@{/logout}"> Log out</a>
  </nav>
</div>
</body>
</html>